<div class="container p-5 py-0">
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 text-bg-dark rounded-3 d-flex align-items-center justify-content-center ">
        <img
          src="assets/images/man2.jpg"
          style="width: 60%"
          alt="Philip Wanderrienov"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>About Me</h2>
        <p>
          An adaptable and responsible graduate from Telkom University with a
          bachelor's degree in informatics engineering. Experience as a UI/UX
          Designer in design and research, with 100% completion of assigned
          targets for a 6-month internship at PT AIA Financial. I have various
          product management and design thinking skills to support my future
          employment.
        </p>
        <p>
          I'm currently employed at PT. Praweda Ciptakarsa Informatika, a
          division of PT. Samudera Indonesia, as a Junior Software developer. As
          a Software developer, I have expertise with Telerik Devcraft (Blazor)
          as the framework and concentrate on front-end work.
        </p>
        <button class="btn btn-outline-secondary" type="button">
          More About Me
        </button>
      </div>
    </div>
  </div>
</div>
