<div class="container py-0">
  <!-- <div class="p-5 mb-4 bg-body-tertiary rounded-3"> -->
  <div class="p-5 mb-4 rounded-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col w-100 text-start align-bottom mb-3">
          <h1>Hi! I am Philip Wanderrienov</h1>
          <p class="col-md-8 fs-6">
            I like to Crafting beautiful and functional experiences is my
            passion.
            <br />
            I bridge the gap between the power of code and the elegance of
            design.
          </p>
          <div class="mb-3">
            <i class="bi bi-linkedin me-2"></i>
            <i class="bi bi-instagram"></i>
          </div>
          <button class="btn btn-primary btn-md me-2" type="button">
            Hire Me
          </button>
          <button class="btn btn-outline-primary btn-md" type="button">
            Portfolio
          </button>
        </div>
        <div class="col w-100 text-center">
          <img style="width: 40%" src="assets/images/man.jpg" />
        </div>
      </div>
    </div>
  </div>

  <!-- <footer class="pt-3 mt-4 text-body-secondary border-top">&copy; 2024</footer> -->
</div>
