<div class="container my-5" data-aos="fade-up">
    <div class="row h-100 align-items-center">
        <div class="col w-100 text-start align-bottom">
            <h1>Hello!</h1>
            <h1 class="text-warning">I'm Philip Wanderrienov</h1>
            <p>I am <b>Philip</b>, like to Crafting beautiful and functional experiences is my passion. <br> I bridge the gap between the power of code and the elegance of design.</p>
            <div class="mt-3">
                <button class="btn btn-warning text-white me-3">Hire Me</button>
            <button class="btn btn-outline-warning">Portfolio</button>
            </div>
        </div>
        <div class="col w-100 text-center">
            <img style="width: 50%;" src="assets/images/man.jpg">
        </div>
    </div>
</div>